<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Management</title>
</head>

<body>
    <p>Name: <%= pokemon.name %>
    </p>
    <p>Trainer: <%= trainer.name %>
    </p>
    <p>Type(s): </p>
    <ul>
        <% types.map((type)=> { %>
            <li>
                <p>
                    <%= type.name %>
                </p>
            </li>
            <% }) %>
    </ul>
    <form method="POST" action="/delete/pokemon/<%= pokemon.pokemon_id %>">
        <button type="submit" id="deleteItemBtn">Delete Pokemon</button>
    </form>
    <a href="/">Go Back</a>
</body>

</html>